/**************************
        RESET
****************************/
img {
    max-width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}


/**************************
        UTILS
****************************/

.btn-acquista {
    background-color: #cd3d0f;
    color: white;
    border-radius: 20px;
    border: none;
    padding: 0.7rem 1rem;
    line-height: 1rem;
}

.btn-informazioni {
    background-color: #2d64e6;
    color: white;
    border-radius: 20px;
    border: none;
    padding: 0.7rem 1rem;
    line-height: 1rem;
}

.btn-ps-plus {
    background-color: #ffffff8a;
    color: #2d64e6;
    border-radius: 20px;
    border-radius: 20px;
    border: none;
    padding: 0.7rem 1rem;
    line-height: 1rem;

}

.btn-ps-now {
    background-color: #f5f5f5;
    color: black;
    border-radius: 20px;
    border: none;
    padding: 0.7rem 1rem;
    line-height: 1rem;
}





/**************************
        HEADER
****************************/

.top-header {
    background-color: black;
}

.top-right-logo>img {
    width: 70px;
    vertical-align: baseline;
}

/* Jumbotron */

.jumbotron {
    height: 78vh;
    margin-top: 107px;
    background-image: url(/img/img/jumbo-bg.png);
    background-position-x: center;
    background-size: cover;
}

.text-jumbotron {
    height: 100%;
}

.text-jumbotron>.row {
    min-height: 100%;
}

.link-card-jumbotron .col-6:hover {
    border: 2px solid #0d6efd;
    border-radius: 20px;
}

.link-card-jumbotron .col-6:hover img {
    filter: brightness(150%);
    filter: contrast(150%);
}


/**************************
        MAIN
****************************/

/* PS5 Section */
.evidence-product {
    border-bottom: 2px solid #0d6efd;
}

.opacity-product {
    filter: opacity(80%);
}

/* Second Jumbotron  */

.second-jumbotron {
    height: 50vh;
    background-image: url(/img/img/it-takes-two-hero-banner-desktop.jpg);
    background-position-x: center;
    background-size: cover;
}

.new-release {
    background-color: #1f1f1f;
}

.second-jumbotron .col-12>h2,
.second-jumbotron .col-12>p {

    filter: drop-shadow(200px);
}

/* Playstation Plus Section */

.ps-plus {
    background-color: #bebcbb;
}

/* PlayStation Now Section */

.ps-now {
    background-color: #161c3b;
}

/**************************
        FOOTER
****************************/

footer {
    background-color: #00439c;
}

.sie-logo {
    width: 100px;
}

.ps-logo {
    width: 100px;
}